<div id="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.5) 50%), url(<%= image_path "daube-sanglier.jpg" %>);""">
  <div class="container">
    <div class="wrapper-center">
      <h1>Nos recettes de famille</h1>
      <input type="text" placeholder="Entrez une recette, un ingrédient, un utilisateur...">
      <%= link_to "Ajouter une recette", root_path %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Dernières recettes ajoutées</h2>
  </div>
  <div class="row">
    <div class="card-deck">
      <% @latest_recipes.each do |recipe| %>
        <div class="card">
          <%= image_tag "placeholder", alt: "alttext", class: "card-img-top" %>
<!--           <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %> - <%= recipe.category %></h5>
            <p class="card-text"><%= recipe.creator.first_name %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h2>Un repas complet au hasard pour la 2!</h2>
    <p><%= @random_starter.name %> - <%= @random_starter.category %> de <%= @random_starter.creator.first_name %></p>
    <p><%= @random_main.name %> - <%= @random_main.category %> de <%= @random_main.creator.first_name %></p>
    <p><%= @random_desert.name %> - <%= @random_desert.category %> de <%= @random_desert.creator.first_name %></p>
</div>
